.wrapper {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

/* HEADER */

.header {
    background-image: url(./../images/image5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__img {
    height: 4em;
    width: auto;
}
.header__img {
    height: 30vh;
    width: auto;
}

.social-list {
    display: flex;
    gap: 1em;
    margin: 3em 0 3em;
}

.header__title {
    font-size: 2.5em;
    padding: 0.75em 0;
}

.header__description {
    font-size: 1.75em;
    margin-bottom: 2em;
}

/* ABOUT */

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    font-size: 2em;
    display: flex;
    align-items: center;
    padding-top: 0.5em;
}
.about__description {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: 0.05em;
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    padding: 0.5em 0;
}
.about__img {
    flex: 1;
    background-image: url(./../images/image1.jpg);
    background-size: cover;
    background-position: center;
}

/* SKILLS */

.skills {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.skills__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__item {
    font-size: 1.1em;
    text-decoration: underline;
    padding: 0.5em 0;
}

.skills__title {
    font-size: 1.8em;
    padding-top: 0.4em;
    flex: 1;
}

.skills__box > img {
    height: 10vh;
    width: auto;
    padding: 0.5em 0;
}
.skills__box {
    flex: 1.5;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skills_img {
    flex: 1;
    background-image: url(./../images/image2.jpg);
    background-size: cover;
    background-position: center;
}

/* PROJECTS */

.projects {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.projects-box {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.projects__title {
    font-size: 2em;
    padding: 0.5em 0 0.3em; 
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 35%;
    height: 5%;
    border: 1px solid black;
    border-radius: 1em;
    margin: auto;
    padding: 2em 1em;
}
.project-box__link {
    text-decoration: none;
    color: black;
}
.projects__img {
    display: none;
    background-image: url(./../images/image4.jpg);
    background-size: cover;
    background-position: center;
}

/* FOOTER */

.mail-link {
    text-decoration: none;
    color: black;
    font-style: italic;
}
.mail-link:hover {
    color: blue;
    font-weight: 700;
}
.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer__content {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__title {
    font-size: 2em;
}
.footer__description {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
}
.footer__img {
    flex: 1;
    height: 50%;
    background-image: url(./../images/image3.jpg);
    background-size: cover;
    background-position: center;
}

/* TABLET */

@media screen and (min-width: 768px) {
    /* ABOUT */
    .about {
        height: 100vh;
        flex-direction: row;
    }

    .about__content {
        width: 50vw;
    }
    .about__title {
        flex: 1;
        padding: 0;
        font-size: 2.5em;
    }
    .about__description {
        flex: 5;
        padding: 0;
        line-height: 1.4em;
        letter-spacing: 0.1em;
    }
    .about__img {
        width: 50vw;
        height: 100vh;
    }
    /* SKILLS */

    .skills {
        display: flex;
        flex-direction: row-reverse;
    }
    .skills__content {
        width: 50vw;
    }
    .skills__title {
        font-size: 2.5em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills_img {
        width: 50vw;
        height: 100vh;
    }
    /* PROJECTS */

    .projects {
        flex-direction: row;
    }
    .projects-box {
        width: 50vw;
    }
    .projects__title {
        font-size: 2.5em;
    }
    .projects__img {
        display: block;
        width: 50vw;
    }
    /* FOOTER */

    .footer {
        flex-direction: row;
    }
    .footer__content {
        height: 100vh;
        width: 50vw;
    }

    .footer__title {
        font-size: 2.5em;
    }
    .footer__description {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.6em;
    }
    .footer__img {
        width: 50vw;
        height: 100vh;
    }
}