/* Définition des variables globales */

body {
    --c-black: #1a1a1a;
    --c-white: #e1e1e1;
    --c-grey: #23262B;
    --c-purple: #b462ff;
    --c-darkPurple :#16093C;
    --c-fuschia: #ff45b4;
    --c-blue: #18b6ff;
    --c-green: #1beb9e;
    --c-orange: #ff9528;
    --c-yellow: #dddd25;
    --line: 2.5ch;
    --font: 'IBM Plex Mono', monospace;
    background-color: #1A1A1A;
}

.wrapper {
    background-color: var(--c-black);
    font-family: var(--font);
    height: 100vh;
}

/* Style de la bannière */

.main-header {
    width: 70%;
    height: 10em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2em;
}

.blue {
    color: var(--c-blue);
}

.green {
    color: var(--c-green);
}

.pink {
    color: var(--c-fuschia);
}

.purple {
    color: var(--c-purple);
}

.yellow {
    color: var(--c-yellow);
}

.main-header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 3em;
    padding-bottom: 0.2em;
}

.fa {
    font-size: 3em;
    padding-bottom: 0.2em;
}

.main-header {
    font-weight: bold;
}

/* Style du header de présentation */

.main-content__header {
    position: relative;
    background-color: var(--c-grey);
    width: 70%;
    margin: auto;
    border: 0.2em solid var(--c-grey);
    border-radius: 1em;
    display: flex;
    margin-bottom: 2em;
}

.header__img {
    width: 10em;
    border-radius: 2em;
    border: 0.2em solid var(--c-grey);
    position: absolute;
    top: -3em;
    left: 2.2em;
}

.header__left {
    padding: 2em 3em 2em 17em;
}

.header__title {
    padding-bottom: 0.2em;
    font-weight: bold;
    font-size: 2em;
}

.header__status {
    font-weight: bold;
}

.header__right {
    margin: 1.5em 0;
    border-left: 1px solid var(--c-orange);
    padding-left: 2em;
    line-height: 1.2em;
}

.social-list {
    display: flex;
}

.social-list__link {
    padding: 0.5em;
    font-size: 0.7em;
}

li {
    padding-bottom: 1em;
}


/* Style du contenu contenu de details */
/* Bloc sur le côté */
.main-content__details {
    display: flex;
    width: 70%;
    margin: auto;
}

.details__nav-content {
    width: 20%;
    background-color: var(--c-grey);
    border: 1px solid var(--c-grey);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    margin-right: 2em;
    height: auto;
}

.details__content {
    width: 80%;
    background-color: var(--c-grey);
    border: 1px solid var(--c-grey);
    border-radius: 2em;
    padding: 1em 2em;
}

.nav-content__link {
    background-color: var(--c-orange);
    border: 1px solid var(--c-orange);
    border-radius: 2em;
    margin: 2em 0;
    padding: 1.5em;
    text-align: center;
}

.nav-content__link > a {
    color: var(--c-white);
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.fa-user, .fa-book, .fa-mail-forward {
    color: var(--c-black);
}

/* Style du contenu détaillé */

.details__content-title {
    color: var(--c-white);
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

.details__content-description {
    color: var(--c-white);
    line-height: 1.25em;
}

/* Style du footer */

.footer {
    width: 68%;
    text-align: center;
    color: var(--c-green);
    margin: auto;
    background-color: var(--c-grey);
    border: 1px solid var(--c-grey);
    border-radius: 2em;
    margin-top: 2em;
    padding: 1em;
    font-weight: bold;
}

.fa-copyright {
    font-size: 1em;
    padding-right: 0.5em;
}




